@import "tailwindcss";

.dashboard-btn {
  @apply flex items-center gap-3 px-4 py-2 rounded-lg text-gray-700 hover:bg-gray-100 hover:translate-x-1 transition-all cursor-pointer font-medium;
}

.setting-item {
  @apply flex items-center gap-3 px-3 py-2 text-gray-700 hover:bg-gray-100 rounded-md transition;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade {
  animation: fade 0.2s ease-out;
}
